body{
  margin: 0%;
  padding: 0%;
  cursor: url("data:image/svg+xml,%3Csvg width='44' height='38' viewBox='0 0 44 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5625 5.71875C23.5625 4.63714 23.8832 3.57981 24.4842 2.68048C25.0851 1.78115 25.9392 1.0802 26.9385 0.666286C27.9377 0.25237 29.0373 0.14407 30.0982 0.355083C31.159 0.566096 32.1334 1.08694 32.8982 1.85176C33.6631 2.61658 34.1839 3.59102 34.3949 4.65185C34.6059 5.71269 34.4976 6.81227 34.0837 7.81155C33.6698 8.81084 32.9689 9.66494 32.0695 10.2659C31.1702 10.8668 30.1129 11.1875 29.0313 11.1875C27.5824 11.1824 26.1944 10.6045 25.1699 9.58006C24.1455 8.55558 23.5676 7.16757 23.5625 5.71875V5.71875ZM11.0625 15.0938C11.0625 14.0121 10.7418 12.9548 10.1409 12.0555C9.53994 11.1561 8.68584 10.4552 7.68655 10.0413C6.68727 9.62737 5.58769 9.51907 4.52685 9.73008C3.46602 9.9411 2.49158 10.4619 1.72676 11.2268C0.961944 11.9916 0.441096 12.966 0.230083 14.0269C0.01907 15.0877 0.12737 16.1873 0.541286 17.1866C0.955203 18.1858 1.65615 19.0399 2.55548 19.6408C3.45481 20.2418 4.51214 20.5625 5.59375 20.5625C7.04257 20.5574 8.43058 19.9795 9.45506 18.9551C10.4795 17.9306 11.0574 16.5426 11.0625 15.0938ZM14.9688 11.1875C16.0504 11.1875 17.1077 10.8668 18.007 10.2659C18.9064 9.66494 19.6073 8.81084 20.0212 7.81155C20.4351 6.81227 20.5434 5.71269 20.3324 4.65185C20.1214 3.59102 19.6006 2.61658 18.8357 1.85176C18.0709 1.08694 17.0965 0.566096 16.0357 0.355083C14.9748 0.14407 13.8752 0.25237 12.876 0.666286C11.8767 1.0802 11.0226 1.78115 10.4217 2.68048C9.82074 3.57981 9.5 4.63714 9.5 5.71875C9.50515 7.16757 10.083 8.55558 11.1074 9.58006C12.1319 10.6045 13.5199 11.1824 14.9688 11.1875V11.1875ZM33.543 23.0625C32.749 22.6261 32.0488 22.0376 31.4824 21.3305C30.9161 20.6233 30.4946 19.8115 30.2422 18.9414C29.7291 17.1516 28.6473 15.5774 27.1603 14.4568C25.6733 13.3362 23.8619 12.7301 22 12.7301C20.1381 12.7301 18.3267 13.3362 16.8397 14.4568C15.3528 15.5774 14.2709 17.1516 13.7578 18.9414C13.2488 20.6933 12.0699 22.174 10.4766 23.0625C8.94625 23.8885 7.73526 25.2014 7.0354 26.7934C6.33555 28.3853 6.18684 30.1653 6.61282 31.8513C7.03881 33.5373 8.01514 35.033 9.38718 36.1014C10.7592 37.1699 12.4485 37.75 14.1875 37.75C15.2266 37.749 16.2553 37.5432 17.2148 37.1445C20.2712 35.8784 23.7041 35.8713 26.7656 37.125C27.7285 37.5375 28.765 37.7501 29.8125 37.75C31.5532 37.7544 33.2455 37.1774 34.6208 36.1105C35.9962 35.0435 36.9759 33.5479 37.4044 31.8608C37.8329 30.1736 37.6857 28.3918 36.9861 26.7978C36.2866 25.2039 35.0748 23.8893 33.543 23.0625V23.0625ZM38.4063 9.625C37.3246 9.625 36.2673 9.94574 35.368 10.5467C34.4686 11.1476 33.7677 12.0017 33.3538 13.001C32.9399 14.0002 32.8316 15.0998 33.0426 16.1607C33.2536 17.2215 33.7744 18.1959 34.5393 18.9607C35.3041 19.7256 36.2785 20.2464 37.3394 20.4574C38.4002 20.6684 39.4998 20.5601 40.4991 20.1462C41.4983 19.7323 42.3524 19.0314 42.9534 18.132C43.5543 17.2327 43.875 16.1754 43.875 15.0938C43.8699 13.6449 43.292 12.2569 42.2676 11.2324C41.2431 10.208 39.8551 9.63015 38.4063 9.625V9.625Z' fill='%23F55CA6'/%3E%3C/svg%3E%0A")10 0, pointer; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(218, 67, 192, 0.3);
background-color: #F5F5F5;
}

::-webkit-scrollbar
{
width: 10px;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
background-color: #f18787;
border: 2px solid #f18787;
}

section{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 0 20px;
}
section .container{
  font-family: 'Mochiy Pop P One', sans-serif;
  padding: 30px;
  color: rgba(212, 88, 150, 0.904);
  display: flex;
align-items:center;
justify-content: center;
height: 220px;
max-width: 500px;
width: 100%;
background: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
border-radius: 12px;
position: relative;
z-index: 50;
}

@media (min-width: 480px){
  body{ 
  background-position: center center;
  background-attachment: relative;
  background-repeat: no-repeat; 
  background-size: cover;
  background-image: url(../img/cover/cat.png);
 }
}
@media(max-width:479px){
  section .container{
    max-width: 300px;
    height: 200px;
    margin: 0 20px 0px -20px;
  }
  .time .time-text{
    margin: 0px -10px -10px -10px;
    max-width: 70px;
    }
   body{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(../img/cover/cat-phone.png);
   }
}

section .container .time{
  display: flex;
  align-items: center;
}
.container .time .time-colon{
  display: flex;
  align-items: center;
  position: relative;
}
.time .time-colon #session{
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.time .time-colon .time-text{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #F0F8FF;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.time .time-colon .time-text,
.time .time-colon #colon{
font-size: 35px;
font-weight: 600;
}
.time .time-colon #colon{
  font-size: 40px;
  margin: 0 10px;
}
.time .time-colon .time-text #hours #minutes #seconds{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
section.dark .container{
  background: #323840;
}
section .container .icons i{
  position: absolute;
  right: 17px;
  top: 17px;
  height: 43px;
  width: 43px;
  background: #24292D;
  color: #fff;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  font-size: 14px;
}
section.dark .container .icons i{
  background: #fff;
  color: #323840;
}
.container .icons i.fa-sun{
  opacity: 0;
  pointer-events: none;
}
section.dark .container .icons i.fa-sun{
  opacity: 1;
  pointer-events: auto;
  font-size: 16px;
}
section.dark .time .time-colon #session{
color: #fff;
}
section.dark .time .time-colon .time-text{
background: #24292D;
}
section.dark .time .time-text .num,
section.dark .time #colon{
color: #fff;
}
section.dark  .time .time-colon #hours #minutes #seconds{
  color: #fff;
}
body {
margin: 0;
padding: 0;
}